body{
	background-color: #1B676B;
} 
h1{
	padding: 0;
	color: #BEF202;
	text-align: center;
}
#header{
	margin: 0 0 10px 0;
	border-bottom: 1px solid #88C425;
}
.slider{
	position:relative;
}
.carusel{
	width: 100%;
	margin: auto;
}
#img1{
	background-image: url(../img/animal1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80vh;
	position: absolute;

}
#img2{  
	background-image: url(../img/animal2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80vh;
}
#img3{
	background-image: url(../img/animal3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80vh;
}
#img4{
	background-image: url(../img/animal4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80vh;
}
#img5{
	background-image: url(../img/animal5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 80vh;
}

.slider .fotos{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
}
.left, .right{
	position: absolute;
	top: 0;
	height: 100%;

	display: flex;
	align-items: center;
	color: white;
	font-size: 30px;
	cursor: pointer;
	z-index: 222;
}

.left{
	left: 100px;
}

.right{
	right: 100px;
}
.circulo{
	position: absolute;
	top: 79vh;
	width: 100%;
	z-index: 333;
	display: flex;
	justify-content: center;
}
.fa-circle{
	margin: 3px;
	color: white;
	font-size: 22px;
}